*.user
*.autosave
*.dll
Qt*
geometryloaders/
iconengines/
imageformats/
multimedia/
networkinformation/
opengl32sw.dll
platforminputcontexts/
platforms/
qmltooling/
renderers/
renderplugins/
sceneparsers/
sqldrivers/
tls/
translations/